.ps-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background:linear-gradient(135deg, #000016, #001f2d);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.streak-icon {
  color: #ff4500;
  font-size: 24px;
  cursor: pointer;
}

.language-selector {
  margin-bottom: 15px;
}

.language-selector label {
  font-weight: bold;
  margin-right: 10px;
}

.language-selector select {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #3bd4cb;
  outline: none;
}

.code-editor {
  border: 2px solid #3bd4cb;
  border-radius: 5px;
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.run-button, .submit-button, .discussion-button, .solution-button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

.run-button {
  background-color: #3bd4cb;
}

.submit-button {
  background-color: #28a745;
}

.discussion-button {
  background-color: #ffcc00;
}

.solution-button {
  background-color: #007bff;
}

.run-button:hover, .submit-button:hover, .discussion-button:hover, .solution-button:hover {
  opacity: 0.8;
}

.output {
  background: #eee;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  white-space: pre-wrap;
}
